@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Student Management APP!</h1>
    <p>Manage your <a asp-page="/Students/Students">Students</a>.</p>
</div>